<div id = "contenedortextgeneral">
<div id = "contenedortextgeneral2"><br>
	<div id ="contenedortext"><br>
	  <span style="font-size:20pt"><b><center><%= h(@noticia.title) %></center></b></span>
	<br><br>
	  <%= raw(@noticia.body) %>
	<br>
	</div>
	</div>
	<div id="contenedorlink">
	</div>
</div>
</div>
