<div id = "contenedortextgeneral">
<div id = "contenedortextgeneral2"><br>
	<div id ="contenedortext">
	  <b><%= h(@noticia.title) %></b>
	<br><br>
	  <%= raw(@noticia.body) %>
	<br>
	<%= link_to 'Edit', edit_noticia_path(@noticia) %> |
	<%= link_to 'Back', noticias_path %>
	</div>
	<div id="contenedorlink">

	</div>
</div>
</div>
