/* main vertical scroll */
	#mainscroll {
		position:relative;
		overflow:hidden;
		height: 450px;
	}
	
	/* root element for pages */
	#pages {
		position:absolute;
		height:20000em;
	}
	
	/* single page */
	.page {
		padding:10px;
		height: 450px;
		background:#222 url(http://static.flowplayer.org/img/global/gradient/h600.png) 0 0 repeat-x;
		width:820px;
	}
	
	/* root element for horizontal scrollables */
	.scrollable {
		position:relative;
		overflow:hidden;
		width: 510px;
		height: 450px;
	}
	
	/* root element for scrollable items */
	.scrollable .items {
		width:20000em;
		position:absolute;
		clear:both;
	}
	
	/* single scrollable item */
	.item {
		float:left;
		cursor:pointer;
		width:500px;
		height:450px;
		padding:10px;
	}
	
	/* main navigator */
	#mainscroll_navi {
		float:left;
		padding:0px !important;
		margin:0px !important;
	}
	
	#mainscroll_navi li {
		background-color:#333;
		border-top:1px solid #666;
		clear:both;
		color:#FFFFFF;
		font-size:12px;
		height:75px;
		list-style-type:none;
		padding:10px;
		width:190px;
		cursor:pointer;
	}
	
	#mainscroll_navi li:hover {
		background-color:#444;
	}
	
	#mainscroll_navi li.active {
		background-color:#555;
	}
	
	#mainscroll_navi img {
		float:left;
		margin-right:10px;
	}
	
	#mainscroll_navi strong {
		display:block;
	}
	
	#mainscroll div.navi {
		margin-left:250px;
		cursor:pointer;
	}

