<br><span style="font-size:20pt"><strong><%= @especial.title %></strong></span>
<br><br><br>



		<% @especial.articulos.each do |a| %>
		<div id="demo"><%= link_to image_tag(a.image.url, :title => '<i>'+a.title+'</i><br> por '+a.autor, :size => "400x175"), a %></div>
				<br>	
		<% end %>
		<% i=0 %>
		<table align="center">
		<tr>
		<% @criticasesp.each do |c| %>
			<td><div id="demo"><%= link_to image_tag(c.image.url, :title => '<i>'+c.title+'</i><br> por '+c.autor), c %></div></td>	
  				<% if i==3 %>
				</tr>
				<tr>
				<% end %>
			<% i=i+1 %>
		<% end %>
		</tr>
		</table>

<%= link_to 'Edit', edit_especial_path(@especial) %>

<script> 
$("#demo img[title]").tooltip();
</script> 
