<div id = "contenedorcriticasindex">
<div id="demo"> 
		<% i=0 %>
		<table align="center">
		<tr>
		<% @criticas.each do |c| %>
			<td><%= link_to image_tag(c.image.url, :title => c.title+' por '+c.autor), c %></td>		
  				<% if i==2 %>
				</tr>
				<tr>
				<% end %>
			<% i=i+1 %>
		<% end %>
		</tr>
		</table>
</div>
</div>

<script> 
$("#demo img[title]").tooltip();
</script> 
