<div id = "contenedorcriticasindex">
<div id="demo"> 
		<% i=0 %>
		<table align="center">
		<tr>
		<% @criticas.each do |c| %>
			<td><%= link_to image_tag(c.image.url, :title => '<i>'+c.title+'</i><br> por '+c.autor), c %><br>
<% if admin_signed_in? | (user_signed_in? && current_user.id==c.user.id) %><%= link_to 'Destroy', c, :method => :delete, :confirm => "Are you sure?" %>
<% else %>
<br>
<% end %>
</td>
  				<% if i==3 %>
				</tr>
				<tr>
				<% i=0 %>
				<% end %>
			<% i=i+1 %>
		<% end %>
		</tr>
		</table>
</div>
<% if user_signed_in? %>
<%= link_to 'New Critica', new_critica_path %>
<% end %>
</div>

<script> 
$("#demo img[title]").tooltip();
</script> 
