<div id = "contenedorcriticasindex">
<div id="demo"> 
		<% i=0 %>
		<table align="center">
		<tr>
		<% @articulos.each do |a| %>
			<td><%= link_to image_tag(a.image.url, :title => a.title+' por '+a.autor, :size => "350x150"), a %></td>		
  				<% if i==2 %>
				</tr>
				<tr>
				<% end %>
			<% i=i+1 %>
		<% end %>
		</tr>
		</table>
</div>
</div>

<script> 
$("#demo img[title]").tooltip();
</script> 
