<div id = "contenedortextgeneral">
<div id = "contenedortextgeneral2"><br>
	<div id ="contenedortext">
	  <b><%= h(@articulo.title) %></b>
	<br><br>
	  <%= raw(@articulo.body) %>
	<br>
	<%= link_to 'Edit', edit_articulo_path(@articulo) %> |
	<%= link_to 'Back', articulos_path %>
	</div>
	<div id="contenedorlink">
	AAAA
	</div>
</div>
</div>

